body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("red-black.gif");
  background-size: cover;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card {
  background: black;
  width: 480px;
  height: 480px;
  border-radius: 50%;
  padding: 30px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  color: red;
  background: rgb(11, 0, 0);
  padding: 10px;
  text-align: center;
  border-radius: 6px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid black;
  border-radius: 6px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  border: 0;
  border-radius: 6px;
  background: red;
  color: black;
  font-weight: 600;
  cursor: pointer;
}

.muted {
  font-size: 14px;
  margin-top: 10px;
}

.hidden {
  display: none;
}

ul {
  padding-left: 20px;
  color: white;
}

.info {
  background: black;
  padding: 30px;
  border-radius: 20px;
  margin-top: 20px;
}

.hobbies li {
  color: #ffdbdb;
}

p.inset {
  border-style: inset;
  border: #0a2481;
}
